:root {
  --cw-bg-color: #040613;
  --cw-bg-having-color: #0c0f1f;
  --cw-border-color-txtarea: #162566;

  --cw-text-color: #ddd;

  --white: #fff;

  --cw-border-color: #0a162f;
  --cw-border-hover-color: #66f;
  --cw-border-focus-color: #09f;
}

*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--cw-text-color);
}

#app {
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cw-bg-color);
  display: grid;
  grid-template-columns: 0.4fr 10px 1fr;
}

/* split js */

.gutter-col {
  grid-area: auto;
  position: relative;
  cursor: col-resize;
  background-color: var(--cw-border-color);
}

.gutter-col::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 50px;
  top: 50%;
  background-image: url('./public/icons/vertical.png');
  background-position: center;
  background-repeat: no-repeat;
}

.gutter-row {
  grid-area: auto;
  position: relative;
  cursor: row-resize;
  background-color: var(--cw-border-color);
}

.gutter-row::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 100%;
  left: 50%;
  background-image: url('./public/icons/vertical.png');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

/* styles normal */

.wrapper:nth-child(1) {
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
  overflow: hidden;
}

.roles {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--cw-border-color);
  overflow: hidden;
  position: relative;
}

.roles label {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
}

.roles textarea {
  height: 100%;
  background-color: var(--cw-bg-having-color);
  border: 1px solid transparent;
  color: var(--cw-text-color);
  border-top: 1px solid var(--cw-border-color-txtarea);
  font-family: 'Roboto', sans-serif;
  resize: none;
  text-decoration: none;
}

.roles textarea:hover {
  border-top: 1px solid var(--cw-border-hover-color);
}

.roles textarea:focus-visible {
  border-top: 1px solid var(--cw-border-focus-color);
  box-shadow: none;
  outline: none;
}

/* will remote */
.wrapper iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  display: block;
  background-color: var(--white);
}

/* float icons */

.float {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.float img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.roles textarea:focus + .float img,
.roles:hover > .float img {
  opacity: 1;
}

.float span {
  color: var(--cw-border-color);
  opacity: 0.6;
  user-select: none;
}
